@model Angle.Models.ViewModels.AttributeViewModel.DeleteAttributeViewModel




@{
    ViewData["Title"] = "Are you sure you want to delete?";




    }

    @section styles{
    <link rel="stylesheet" href="~/vendor/chosen-js/chosen.css">
}


@section scripts{
    <script src="~/vendor/chosen-js/chosen.jquery.js"></script>
    <script type="text/javascript">
    </script>
    <script type="text/javascript" src="~/master/js/custom/domprint.js"></script>
    <script type="text/javascript">
    </script>
}



<div class="content-heading">
    <div>Attributes<small>Delete an Attribute</small></div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card card-default">
            <div class="card-header">Your Attribute Information</div>
            <div class="card-body">
                <form asp-action="Delete" asp-controller="Attribute" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <input type="hidden" asp-for="ID" value="@Model.ID" />                   
                    <div class="card b">
                        <div class="card-header bg-danger text-bold">Delete Attribute</div>
                        <div class="card-body bt">
                            <p>Are you sure you want to delete this Attribute?</p>
                            <p>Name: <strong>@Model.Name</strong> </p>
                            <br />
                            <br />
                            <p>This Attribute is used in following Types: </p>
                            @foreach (string typeName in @Model.containingTypes)
                            {
                                <strong>@typeName</strong><br />
                            }
                            <br /><br />

                            <p><strong>WARNING!!!! By deleting this Attribute, you will remove it from it's containing Types and Products. <br /> This could lead to Irreparable inconsistency in the Database and Information loss.</strong></p>
                            <br />
                            <br />
                            <input type="checkbox" asp-for="smartControll" />
                            <label for="smartControll"><strong>Yes! I'm SMART enough to take this decision!</strong></label>
                            <br />
                            <input type="checkbox" asp-for="decisionControll" />
                            <label for="smartControll"><strong>Sure! I know exactly what I'm doing!</strong></label>
                            <br />
                            <button class="btn btn-secondary" type="submit"><span class="text-danger">Delete Attribute</span></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



