@model IEnumerable<Angle.Models.Models.Ivy.Location>
@{
    ViewData["Title"] = "Category";
}

@section styles{
    <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">

}

@section scripts{
    <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
    <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendor/jszip/dist/jszip.js"></script>
    <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
    <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>

}

<div class="content-heading">
    <div>Categorys<small></small></div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="card-title">List of Categorys</div>
            <div class="text-sm"></div>
        </div>
        <div class="card-body">
            <table class="table table-striped my-4 w-100" id="datatable2">
                <thead>
                    <tr>
                        <th>Prefix</th>
                        <th>Description</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var Category in Model)
                    {
                        <tr>
                            <td>
                                @try
                                {@Category.ID}
                            catch { }
                            </td>
                            <td>
                                @try
                                {@Category.Description}
                            catch { }
                            </td>




                            <td><a href="@Url.Action("Edit", "Category",new { id = Category.ID })">Edit</a> / <a href="@Url.Action("Delete", "Category", new { id = Category.ID })">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>








