@model LUNA.Models.Customer

@{
    ViewData["Title"] = "Add an Customer";
}

<div class="content-heading">
    <div>Customers<small>Add a Customer</small></div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card card-default">
            <div class="card-header">Your Customer Information</div>
            <div class="card-body">
                <form asp-action="Create" asp-controller="Customer" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">





                    <div class="form-group">
                        <label asp-for="CompanyName" class="control-label col-md-3 col-sm-3 col-xs-12">
                            CompanyName <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input asp-for="CompanyName" type="text" id="title" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddressOffice" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Address Office<span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input asp-for="AddressOffice" type="text" id="title" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddressBill" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Address Bill <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input asp-for="AddressBill" type="text" id="title" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label col-md-3 col-sm-3 col-xs-12">
                           Phone Number <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input asp-for="PhoneNumber" type="text" id="title" required="required" class="form-control">
                        </div>
                    </div>





                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <input type="button" onclick="history.go(-1)" value="Cancel" class="btn btn-primary" />
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



