@model LUNA.Models.Models.StockInformation

@{
    ViewData["Title"] = "Acquire a Product";
}

<div class="content-heading">
    <div>Stock Information<small>add</small></div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card card-default">
            <div class="card-header">Your Stock information</div>
            <div class="card-body">
                <form asp-action="Create" asp-controller="StockInformation" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                            Description <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <textarea asp-for="Description" id="message" required="required" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="field-validation-error"></span>
                        </div>
                    </div>






                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <input type="button" onclick="history.go(-1)" value="Cancel" class="btn btn-primary" />
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



